.cola3d {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.ColaImage {
    width: 50rem;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 1s forwards;
}

.PColaText {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-left: 4rem;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.colaH1 {
    width: 40rem;
    font-size: 4vw;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.cola {
    color: #727272;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.ColaImage121 {
    width: 3rem;
    border-radius: 50%;
    margin-right: 1.2rem;
}

.Shop {

    width: 10rem;
    height: 3rem;
    border: 0px;
    border-radius: 2rem;
    margin-right: 2rem;
    box-shadow: 0px 20px 70px 1px rgba(0, 0, 0, 0.432);
    transition: 0.1s cubic-bezier(1, 0, 0, 1);
    color: aliceblue;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.Shop:hover {
    width: 15rem;
    cursor: pointer;
   
}

.Learm {
    background: #72727200;
    width: 10rem;
    height: 3rem;
    border-radius: 2rem;
    margin-right: 2rem;
    transition: 0.1s cubic-bezier(1, 0, 0, 1);
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.Learm:hover {
    width: 15rem;
    cursor: pointer;
    color: #944341;

}

.scroll-pilot-indicator {
    margin-top: 4rem;
    position: fixed;
    left: 50%;
    transform: translateX(-90%);
    width: 80%;
    /* Установите ширину по своему усмотрению */
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


