.cola3d {
    display: flex;
    justify-content: flex-end;
}

.ColaImage {
    width: 50rem;
    margin-right: -1rem;
}

.PColaText {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-right: 5vw;
}

.colaH1 {
    width: 40rem;
    font-size: 4vw;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.cola {
    color: #727272;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.ColaImage121 {
    width: 3rem;
    border-radius: 50%;
    margin-right: 1.2rem;
}

.Shop {
    background: linear-gradient(to bottom, #e28280, #b74b49);
    width: 10rem;
    height: 3rem;
    border: 0px;
    border-radius: 2rem;
    margin-right: 2rem;
    box-shadow: 0px 20px 70px 1px rgba(0, 0, 0, 0.432);
    transition: 0.1s;
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.Shop:hover {
    width: 15rem;

}

.Learm {
    background: #72727200;
    color: #b74b49;
    width: 10rem;
    height: 3rem;
    border: 1px solid #b74b49;
    border-radius: 2rem;
    margin-right: 2rem;
    transition: 0.1s;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.Learm:hover {
    width: 15rem;

}