.cola3d {
    display: flex;
    justify-content: flex-end;
}

.ColaImage {
    width: 50rem;
    margin-right: -1rem;
}

.PColaText {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-right: 5vw;
}

.colaH1 {
    width: 40rem;
    font-size: 4vw;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}