.textBut {
    display: flex;
    justify-content: center;
}

.PtextBut {

    font-size: 1.5rem;
    margin: 1rem;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;

    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;

}

.PtextBut:hover {
    background-size: 100% 2px;
}


.headr-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 2rem;
}

.image {
    margin-right: 2rem;
}

.imageBot {
    width: 2.3rem;
    color: black;
    transition: 0.1s;
    cursor: pointer;
}

.imageBot:hover {
    width: 2rem;
}

.right-fixed {
    position: absolute;
    right: 4rem;

    top: 50%;

    transform: translateY(-50%);

}

.right-fixed+.right-fixed {
    right: 8rem;

}

.logo {
    width: 10rem;
    height: 3rem;
}

.left-fixed {
    position: absolute;
    top: -2rem;
    left: 1rem;
    transform: translateY(50%);
}