/* Стили для больших экранов */
@media (min-width: 2561px) {
    .cola3d {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
        margin-right: 20vw;
    }

    .colaH1 {
        width: 40rem;
        font-size: 3vw;
        font-family: "Lexend", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    .ColaImage {
        width: 50rem;
        opacity: 0;
        transform: translateX(100%);
        animation: slideIn 1s forwards;
        margin-left: 12rem;
        margin-right: -15rem;
    }
}

@media (max-width: 2560px) and (min-width: 2282px) {
    .cola3d {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
        margin-right: 12vw;
    }
}

@media (max-width: 2281px) and (min-width: 2081px) {
    .cola3d {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
        margin-right: 5vw;
    }
}

/* Предыдущие стили для меньших экранов */
@media (max-width: 2080px) {
    .cola3d {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
        margin-right: 5vw;
    }
}

@media (max-width: 1783px) {
    .cola3d {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
        margin-right: 12vw;
    }

    .ColaImage {
        width: 50rem;
        opacity: 0;
        transform: translateX(100%);
        animation: slideIn 1s forwards;
        margin-right: -15rem;
    }
}

@media (max-width: 1783px) {
    .cola3d {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
        margin-right: 14vw;
    }

    .scroll-pilot-indicator {
        margin-top: 0rem;
        position: fixed;
        left: 50%;
        transform: translateX(-90%);
        width: 80%;
        opacity: 0;
        animation: fadeIn 1s forwards;
    }

    .ColaImage {
        width: 50rem;
        opacity: 0;
        transform: translateX(100%);
        animation: slideIn 1s forwards;
        margin-right: -15rem;
    }
}

@media (max-width: 1539px) {
    .PColaText {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        height: 50vh;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        margin-left: 4rem;
    }

    .scroll-pilot-indicator {
        margin-top: 2rem;
        position: fixed;
        left: 50%;
        transform: translateX(-90%);
        width: 80%;
    }

    .ColaImage {
        width: 45rem;
    }
}

@media (max-width: 1473px) {
    .PColaText {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        height: 50vh;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        margin-right: -12rem;
    }
}

@media (max-width: 1267px) {
    .PColaText {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        height: 50vh;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        margin-right: -15rem;
    }

    .slider {
        display: flex;
        justify-content: center;
        margin-top: 10vw;
        margin-bottom: 4rem;
    }

    .scroll-pilot-indicator {
        margin-top: 6rem;
        position: fixed;
        left: 50%;
        transform: translateX(-90%);
        width: 80%;
    }

    .ColaImage {
        width: 40rem;
    }
}

@media (max-width: 1235px) {
    .colaH1 {
        width: 28rem;
        font-size: 2.5rem;
        font-family: "Lexend", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    .PColaText {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        height: 50vh;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        margin-right: -5rem;
    }
}

@media (max-width: 1109px) {
    .slider {
        display: flex;
        justify-content: center;
        margin-top: 30vw;
        margin-bottom: 4rem;
    }

    .ColaImage {
        width: 35rem;
    }

    .scroll-pilot-indicator {
        margin-top: 15rem;
        position: fixed;
        left: 50%;
        transform: translateX(-90%);
        width: 100%;
    }
}

