body {
  margin: 0;
  background: linear-gradient(to bottom right, #fbd7b2, #fce9cf, #fad3b4, #fdebcc);
  height: 100vh;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position:
    bottom right,
    left,
    right;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}