body {
  margin: 0;
  background: linear-gradient(to bottom right, #e6bbba, #efd7d7, #ebc7c7, #d79b99);
  background: linear-gradient(to bottom left, #e6bbba, #efd7d7, #ebc7c7, #d79b99);
  height: 100%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position:
    bottom right,
    left,
    right;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}